<h1>ブックマーク一覧</h1>
<table class="bookmarks-table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>URL</th>
      <th>著者名</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.title %></td>
        <td><%=bookmark.url %></td>
        <td><%= bookmark.name %></td>
        <td class="actions">
          <%= link_to '表示', bookmark_path(bookmark), class: "btn btn-show" %>
          <%= link_to '編集', edit_bookmark_path(bookmark), class: "btn btn-edit" %>
          <%= link_to '削除', bookmark_path(bookmark), data: { turbo_method: :delete, confirm: "本当に削除しますか？" }, class: "btn btn-delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
